{% extends "quickshort/base.html" %}

{% load static %}


{% block content %}

<script>
    $( document ).ready(function() {
        new ClipboardJS('.copy-btn');


        let node = $("#shorten-input-button");
        let field = $("#shorten-input-field");
        let short_code = $("#shorten-input-code");

        const shorten_form = $("#shorten-form");
        const shorten_result = $("#shorten-result");
        const shorten_result_url = $("#shorten-result-url");
        const shorten_result_stats = $("#shorten-result-stats");
        const shorten_result_stats_go = $("#shorten-result-stats-go");

        // const short_output_url = $('#shorten-output-url');
        // const short_output_stats = $('#shorten-output-stats');

        shorten_result.hide();

        let url = $(location).attr('protocol') + "//" + $(location).attr('host');
        console.log(url);


        const set_result = function(redirect_url, stats_url) {
            shorten_result_url.val(redirect_url);
            shorten_result_stats.val(stats_url);

            //shorten_form.hide();
            shorten_result.show();

            console.log( "Follow link: " + redirect_url );
        };

        const do_submit = function(url_to_short, short_code_proposed) {
            short_code.removeClass("is-invalid");
            field.removeClass("is-invalid");

            //set_result("why", "stop");

            $.ajax({
                type: "POST",
                url: url + "/create",
                data: JSON.stringify({"url": url_to_short, "code":short_code_proposed}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    // const data = JSON.parse(d);
                    // console.log(data);

                    const short_url = data["short_url"];
                    const stats_key = data["stats_key"];
                    const redirect_url = url + "/" + short_url;
                    const stats_url = url + "/stats/" + stats_key;

                    set_result(redirect_url, stats_url);
                },
                error: function (request, status, errorThrown) {
                    console.log( "Encountered error: ");
                    console.log(request);
                    console.log(status);
                    console.log(errorThrown);

                    const rt = request["responseText"];

                    if(rt === "invalid-url") {
                        field.addClass("is-invalid");
                    }

                    if(rt === "invalid-code") {
                        short_code.addClass("is-invalid");
                    }

                    shorten_result.hide();
                }
            });
        };

        console.log(node);
        node.click(function() {
            console.log( "Handler for .click() called." + field.val() );
            do_submit(field.val(), short_code.val());
        });
        field.keypress(function( event ) {
            const enter_code = 13;
            if ( event.which !== enter_code ) {
                return;
            }
            console.log( "Handler for .keypress called." + field.val() );
            do_submit(field.val(), short_code.val());
        });


        shorten_result_stats_go.click(function() {
            console.log( "Handler for .click() called." + field.val() );
            window.location.href = shorten_result_stats.val();
        });

    });
</script>

<div class="jumbotron darkgrey">
    <div id="shorten-form" class="container border rounded">
        <!--        <h3>Result</h3>-->

        <div class="row justify-content-md-center">
            <div class="col col-12 col-lg-10">
                <div class="input-group input-group-lg my-3">
                    <input id="shorten-input-field" type="text" class="form-control" placeholder="Enter URL">
                    <div class="invalid-feedback">
                        Please provide a valid url.
                    </div>
                </div>

                <div class="input-group input-group-lg my-3">
                    <input id="shorten-input-code" type="text" class="form-control " placeholder="Short code (optional)">
                    <div class="invalid-feedback">
                        Invalid short code (maybe it has already been taken).
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-2 my-3 py-0">
                <button id="shorten-input-button" type="button" class="btn btn-primary btn-lg btn-block h-100">Shorten</button>
            </div>
        </div>
    </div>

    <div id="shorten-result" class="container hidden border rounded py-3 my-3">
        <h3>Result</h3>
        <div class="row justify-content-md-center  ">
            <div class="col col-12 col-lg-6 my-2">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Short URL</span>
                    </div>

                    <input id="shorten-result-url" class="form-control">

                    <!-- Trigger -->
                    <div class="input-group-append">
                        <button class="btn copy-btn btn-primary" data-clipboard-target="#shorten-result-url">
                            <img src="{% static 'quickshort/svg/copy-content.svg' %}" class="buttonlogo" alt="Copy to clipboard">
                        </button>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-6 my-2">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Stats</span>
                    </div>

                    <input id="shorten-result-stats" class="form-control">

                    <!-- Trigger -->
                    <div class="input-group-append">
                        <button class="btn copy-btn btn-primary border border-dark " data-clipboard-target="#shorten-result-stats">
                            <img src="{% static 'quickshort/svg/copy-content.svg' %}" class="buttonlogo" alt="Copy to clipboard">
                        </button>
                    </div>

                    <div class="input-group-append ">
                        <button id="shorten-result-stats-go" class="btn copy-btn btn-primary border border-dark text-dark">
                            Go
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 class="display-9">Keep track of where your clicks came from without intrusive analytics.</h2>

        <h3>Features</h3>

    </div>

    <div class="row text-center justify-content-md-center">
        <div class="col col-12 col-lg-4">
            <img src="{% static 'quickshort/svg/edit.svg' %}" class="indexlogo p-3">
            <h3>Custom urls</h3>
            <p>Get an easy-to-remember version of the URL you are trying to distribute, however, this is optional.
                If you do not specify a custom tag we will automatically generate one for you.
            </p>
        </div>
        <div class="col col-12 col-lg-4">
            <img src="{% static 'quickshort/svg/bar-chart.svg' %}" class="indexlogo p-3">
            <h3>Click statistics</h3>
            <p>Upon creation a statistics url will be created.
                This will allow you to find out how often your shortened url has been clicked over time and what url the user came from previously.</p>
        </div>
    </div>
</div>

{% endblock %}
